@import "./responsive";

// Vars and Reset
// 
$azul:       #5c7f9f;
$celeste:   #f1fafe;
$text: #555555;
$success: #2eec2e;
$light-blue: #D1D5D7;



body {
    font-size: 1rem;
    color: $text;
}

.file-area {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    position: relative;

    label {
        text-transform: uppercase;
        font-size: 12px;
        span {
            color: red;
        }
        .vi {
            color: #003380;
            font-size: 25px;
            vertical-align: middle;
        }
    }

    input[type=file] {
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       opacity: 0;
       cursor: pointer;
     }

    .file-dummy {
        width: 100%;
        padding: 30px;
        transition: background 0.3s ease-in-out;
        
        clear: both;
        padding: 2rem 1.5rem;
        text-align: center;
        background: $celeste;
        border-radius: 5px;
        border: 1px dashed $light-blue;
        transition: all .2s ease;
        user-select: none;
        color: $text;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .success {
             display: none;
        }
    }

    input[type=file] {
        &:focus + .file-dummy {
            outline: 2px solid rgba(255, 255, 255, 0.5);
            outline: -webkit-focus-ring-color auto 5px;
        }
        &:valid + .file-dummy {
            background-color: $azul;
            color: #ffffff;
            .success {
                display: inline-block;
            }
            .default {
                display: none;
            }
        }
    }
}


//upload component
.upload {
    .upload-files {
        cursor: pointer;
    
        footer {
            width: 100%;
            margin: 0 auto;
            height: 0;
            .divider {
                margin: 0 auto;
                width: 0;
                border-top: solid 4px darken($azul, 3.5%);
                text-align: center;
                overflow: hidden;
                transition: width .5s ease;
                display: block;
                    span {
                        display: inline-block;
                        transform: translateY(-25px);
                        font-size: inherit;
                        padding-top: 12px;
                    }
            }
            &.hasFiles {
                height: auto;
                .divider {
                    width: 100%;
                    span {
                    transform: translateY(0);
                    transition: transform .5s .5s ease;
                    }
                }
            }
            .list-files {
                width: 100%;
                margin: 0 auto;
                margin-top: 15px;
                padding-left: 5px;
                text-align: center;
                &::-webkit-scrollbar-track {
                    background-color: rgba(lightgray, .25);
                }
                &::-webkit-scrollbar {
                    width: 4px;
                    background-color: rgba(lightgray, .25);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba($azul, .5);
                }
                .file {
                    width: 100%;
                    min-height: 50px;
                    display: flex;                    
                    align-items: center;
                    opacity: 0;
                    animation: fade .35s ease both;
                
                    .name {
                        font-size: 12px;
                        white-space: nowrap;
                        text-align: left;
                        @include respond('phone-land') {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            
                        }
                    }
                    .progress {
                        width: 175px;
                        height: 5px;
                        border: solid 1px lightgray;
                        border-radius: 2px;
                        background: linear-gradient(to left, rgba($success, .8), rgba($azul, .2)) no-repeat;
                        background-size: 100% 100%;
                        margin-left: 15px;
                        &.active {
                            animation: progress 30s linear;
                        }
                    }
        
                    @keyframes progress {
                        from {
                            background-size: 0 100%;
                        }
                        to {
                            background-size: 100% 100%;
                        }
                    }

                    .done {
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        background: #fff;
                        border-radius: 50%;
                        margin-left: 0;
                        transform: scale(0);
                        position: relative;
                        
                        &:before {
                            content: "Eliminar";
                            position: absolute;
                            top: 0;
                            left: -5px;
                            font-size: 24px;
                            opacity: 0;
                        }
                        &:hover:before {
                            transition: all .25s ease;
                            top: -30px;
                            opacity: 1;
                        }
                        &.anim {
                            animation: done1 .5s ease forwards;
                            #path {
                            animation: done2 2.5s .5s ease forwards;
                            }
                        }
                        #path {
                            stroke-dashoffset: 7387.59423828125;
                            stroke-dasharray: 7387.59423828125 7387.59423828125;
                            stroke: #ec2e2e;
                            fill: transparent;
                            stroke-width: 50px;
                        }
                    }

                    @keyframes done2 {
                        to {
                            stroke-dashoffset: 0;
                        }
                    }
                    @keyframes done1 {
                        50% {
                            transform: scale(.5);
                            opacity: 1;
                        }
                        80% {
                            transform: scale(.25);
                            opacity: 1;
                        }
                        100% {
                            transform: scale(.5);
                            opacity: 1;
                        }
                    }

                }
                
            }

            
            .max {
                background-color: #FFFBDF;
                position: relative;
                width: 100%;
                height: 100%;
                font-size: 20px;
                border-radius: .75rem;
                margin: 0 auto;
                padding: 10px;
                margin-bottom: -30px;
                 min-height: 60px;
                @include respond('phone-land') {
                    margin-bottom: -20px;
                }
                span {
                    margin-left: 10px;
                    .span {
                        font-weight: bold;
                    }
                }
                img {
                    vertical-align: middle; 
                    margin-left: 20px;
                }
            }
            
        }
    }

    @keyframes fadeup {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes faderight {
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes fade {
      to {
        opacity: 1;
      }
    }
    @media (max-width: 400px){
      width: 100%;
      height: 100%;
    }
}

.icon {
    display: block;
    height: 1.5rem;
    margin: 0 auto 0.25rem;
    width: 1.5rem;
}

.label {
    text-transform: uppercase;
    font-size: 12px;
    span {
        color: red;
    }
    .vi {
        color: #003380;
        font-size: 25px;
        vertical-align: middle;
    }
}

.spanSeparador {
    margin-top: -35px;
    margin-bottom: 10px;
    position: absolute;
    padding: 10px;
    margin-left: -8px;
    @include respond('phone-land') {
        margin-left: 8px;
    }
    @include respond('tab-land') {
        margin-left: 8px;
    }
}

.card {
    background-color: #fff;
    border-radius: .75rem;
    width: 85%;
    box-shadow: 0 1px 15px rgba(0,0,0,.1),0 1px 8px rgba(0,0,0,.1);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    @include respond('phone-land') {
        width: 90%;
        padding: 0;
    }


    .card-header {
        height: 60px;
        width: 100%;
        margin-left: auto;
        @media only screen and (max-width: 367px) {
            height: 130px;
            text-align: center;
            vertical-align: middle;
        }
        .card-title {
            margin-left: 30px;
            line-height: 5em;
            .text-title {
                float: left;
                font-size: 20px;
            }
        }
    }

    .card-body {
        padding: 20px;
        text-align: left;
        @include respond('phone-land') {
            margin-right: 0;
        }
        @include respond('tab-port') {
            margin-right: 0;
        }
        
        form {
            input {
                &:read-only{
                    border: none;
                }
            }          
        }
    }
}

.form-control {
    border-radius: 5px;
    outline: medium none invert!important;
    outline: initial!important;
    box-shadow: none!important;
    font-size: .8rem;
    border: 1px solid #838383;
    background: #fff;
    color: #555555;
    height: auto;
    padding: .5rem .75rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}