body {
  font-size: 1rem;
  color: #555555;
}

.file-area {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.file-area label {
  text-transform: uppercase;
  font-size: 12px;
}
.file-area label span {
  color: red;
}
.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  transition: background 0.3s ease-in-out;
  clear: both;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #f1fafe;
  border-radius: 5px;
  border: 1px dashed #D1D5D7;
  transition: all 0.2s ease;
  user-select: none;
  color: #555555;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-area .file-dummy .success {
  display: none;
}
.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
  background-color: #5c7f9f;
  color: #ffffff;
}
.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}

.upload .upload-files {
  cursor: pointer;
}
.upload .upload-files footer {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #557694;
  text-align: center;
  overflow: hidden;
  transition: width 0.5s ease;
  display: block;
}
.upload .upload-files footer .divider span {
  display: inline-block;
  transform: translateY(-25px);
  font-size: inherit;
  padding-top: 12px;
}
.upload .upload-files footer.hasFiles {
  height: auto;
}
.upload .upload-files footer.hasFiles .divider {
  width: 100%;
}
.upload .upload-files footer.hasFiles .divider span {
  transform: translateY(0);
  transition: transform 0.5s 0.5s ease;
}
.upload .upload-files footer .list-files {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
}
.upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: rgba(92, 127, 159, 0.5);
}
.upload .upload-files footer .list-files .file {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fade 0.35s ease both;
}
.upload .upload-files footer .list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .upload .upload-files footer .list-files .file .name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.upload .upload-files footer .list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background: linear-gradient(to left, rgba(46, 236, 46, 0.8), rgba(92, 127, 159, 0.2)) no-repeat;
  background-size: 100% 100%;
  margin-left: 15px;
}
.upload .upload-files footer .list-files .file .progress.active {
  animation: progress 30s linear;
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.upload .upload-files footer .list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin-left: 0;
  transform: scale(0);
  position: relative;
}
.upload .upload-files footer .list-files .file .done:before {
  content: "Eliminar";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.upload .upload-files footer .list-files .file .done:hover:before {
  transition: all 0.25s ease;
  top: -30px;
  opacity: 1;
}
.upload .upload-files footer .list-files .file .done.anim {
  animation: done1 0.5s ease forwards;
}
.upload .upload-files footer .list-files .file .done.anim #path {
  animation: done2 2.5s 0.5s ease forwards;
}
.upload .upload-files footer .list-files .file .done #path {
  stroke-dashoffset: 7387.5942382813;
  stroke-dasharray: 7387.5942382813 7387.5942382813;
  stroke: #ec2e2e;
  fill: transparent;
  stroke-width: 50px;
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done1 {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}
.upload .upload-files footer .max {
  background-color: #FFFBDF;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 0.75rem;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: -30px;
  min-height: 60px;
}
@media only screen and (max-width: 767px) {
  .upload .upload-files footer .max {
    margin-bottom: 20px;
  }
}
.upload .upload-files footer .max span {
  margin-left: 10px;
}
.upload .upload-files footer .max span .span {
  font-weight: bold;
}
.upload .upload-files footer .max img {
  vertical-align: middle;
  margin-left: 20px;
}
@keyframes fadeup {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .upload {
    width: 100%;
    height: 100%;
  }
}

.icon {
  display: block;
  height: 1.5rem;
  margin: 0 auto 0.25rem;
  width: 1.5rem;
}

.card {
  background-color: #f8f8f8;
  border-radius: 0.75rem;
  width: 85%;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  .card {
    width: 90%;
    padding: 0;
  }
}
.card .card-body {
  padding: 20px;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .card .card-body {
    margin-right: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .card .card-body {
    margin-right: 0;
    padding: 0;
  }
}
.card .card-body form input:read-only {
  border: none;
}

/*# sourceMappingURL=style.css.map */
