/*
 * Snippets
 * @author mfyance
 */

.cleaner {
    box-sizing: border-box;
    *zoom: 1;
}
.cleaner:after {
    clear: both;
}
.cleaner:before,
.cleaner:after {
    display: table;
    line-height: 0;
    content: "";
}



.paragraph{ color: white; }
.hidden{ display: none; }
.t-a-c{text-align: center;}

p{
    font-family: var(--font-primary);
    color: #555;
}

.link:hover{
    border-bottom: 1px solid var(--color-primary)
}
.link{
    font-family: var(--font-primary);
    color: var(--color-secondary);
    cursor:pointer;
    font-size: 16px;
}

.h-100{
    height: 100%;
}

.m-l-10{
    margin-left: 10px !important;
}
.m-l-20{
    margin-left: 20px !important;
}
.m-l-30{
    margin-left: 30px !important;
}
.m-l-40{
    margin-left: 40px !important;
}

.m-b-20{ margin-bottom: 20px; }
.m-b-30{ margin-bottom: 30px; }
.m-t-30{ margin-top: 30px; }
.m-t-40{ margin-top: 40px; }
.m-t-60{ margin-top: 60px; }
.m-r-10{ margin-right: 10px; }
