.truck-content {
    width: 100%;
    display: flex;
}
.truck-content-first,
.truck-content-second{
    position: relative;
    display: flex;
}


[data-type="tracto-modular-kinping"] .truck-content-img--is-tracto-modular-kinping {
    width: 500px;
}
[data-type="tracto-modular-kinping"] .truck-ejes {
    position: absolute;
    bottom: 0px;
    left: 130px;
    height: 62px;
    width: 105px;
    display: flex;
    justify-content: flex-end;
}

[data-type="tracto-modular-kinping"] .truck-ejes-content:after{
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 17px;
    background: #04b3c7;
}
[data-type="tracto-modular-kinping"] .truck-ejes-content{
    position: relative;
    height: 100%;
    width: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

[data-type="tracto-modular-kinping"] .truck-ejes-img:nth-child(3){
    margin-left: 0;
}
[data-type="tracto-modular-kinping"] .truck-ejes-img{
    position: relative;
}
[data-type="tracto-modular-kinping"] .truck-img{
    width: 35px;
    height: 35px;
    min-width: 35px;
}
[data-type="tracto-modular-kinping"] .truck-medidas{
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0;
    height: 30px;
}
[data-type="tracto-modular-kinping"] .truck-medidas-option{
    position: absolute;
}
[data-type="tracto-modular-kinping"] .truck-medidas-option-text{
    width: 15px;
    height: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    align-items: center;
    font-size: 8px;
    margin: auto;
    position: relative;
    z-index: 2;
    text-align: center;
}
[data-type="tracto-modular-kinping"] .truck-medidas-option:after{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 1px;
}
[data-medida="C"]:before{
    content: "";
    position: absolute;
    top: -70px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 14px solid #e400ff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}



[data-type="tracto-modular-kinping"] .truck-content-first{
    max-width: 720px;
}



[data-medida="A"].truck-medidas-option{
    width: 65px;
    top: 0;
    left: 33px;
}
[data-medida="A"] .truck-medidas-option-text,
[data-medida="A"]:after{
    background: #5c93d8;
}
[data-medida="B"] .truck-medidas-option-text,
[data-medida="B"]:after{
    background: #c5ae05;
}
[data-medida="C"] .truck-medidas-option-text,
[data-medida="C"]:after{
    background: #f74821;
}
[data-medida="D"] .truck-medidas-option-text,
[data-medida="D"]:after{
    background: #ffa535;
}
[data-medida="E"] .truck-medidas-option-text,
[data-medida="E"]:after{
    background: #ff6185;
}






[data-ejes-first="1"] [data-medida="B"].truck-medidas-option{
    width: 121px;
    top: -4px;
    left: 98px;
}
[data-ejes-first="2"] [data-medida="B"].truck-medidas-option{
    width: 85px;
    top: -2px;
    left: 98px;
}
[data-ejes-first="3"] [data-medida="B"].truck-medidas-option{
    width: 66px;
    top: -4px;
    left: 98px;
}

[data-ejes-first="1"] [data-medida="C"].truck-medidas-option{
    width: 17px;
    top: 10px;
    left: 216px;
}

[data-ejes-first="2"] [data-medida="C"].truck-medidas-option{
    width: 20px;
    top: 4px;
    left: 182px;
}
[data-ejes-first="3"] [data-medida="C"].truck-medidas-option{
    width: 21px;
    top: 2px;
    left: 164px;
}


[data-ejes-first="1"] [data-medida="D"].truck-medidas-option{
    width: calc(100% - 220px);
    top: -10px;
    left: 218px;
}
[data-ejes-first="2"] [data-medida="D"].truck-medidas-option{
    width: calc(100% - 185px);
    top: -10px;
    left: 182px;
}
[data-ejes-first="3"] [data-medida="D"].truck-medidas-option{
    width: calc(100% - 170px);
    top: -10px;
    left: 167px;
}






[data-type="tracto-modular-kinping"] .truck-box-last{
    width: 315px;
    position: relative;
    display: flex;
    height: 85px;
    top: 54px;
    flex-direction: column;
}
[data-type="tracto-modular-kinping"] .truck-box-last-images{
    width: 100%;
    overflow-y: hidden;
    display: flex;
    top: 40px;
    height: 100%;
    z-index: 2;
    position: relative;
    flex-direction: row-reverse;
    width: 316px;
}

[data-type="tracto-modular-kinping"] .truck-box-last:after{
    content: "";
    background: #04b3c7;
    display: block;
    height: 15px;
    position: absolute;
    width: 100%;
    top: 34px;
    left: -2px;
}
[data-type="tracto-modular-kinping"] .truck-box-last-images-trucks{
    display: flex;
}

[data-type="tracto-modular-kinping"] .truck-box-last-medida{
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    top: 50px;
    display: flex;
}



