/*
 * Tokens
 * @author mfyance
 */

:root{
    --layout-max: 1200px;
   
    --color-primary: #4187A5;
    --color-primary-light: #40B3C2;
    --color-secondary-black: #a3ced4;
    --color-secondary: #D8EEF1;
    --color-terciary: #edfdff;
    --color-humo:#F8F8F8;
    --color-grey:#E4E4E4;
    --color-grey-light:#ccc;
    --color-grey-medium:#ABABAB;
    --color-grey-black:#545454;
    --color-error:#ff0909;
    --color-success:#44ca8d;
    --color-info:#dbae5b;
    --font-primary: Oxygen;
    --font-oxygen: Oxygen;
    --font-secondary: Rationale;
    --font-fredoka: Rationale;
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --color-tag-permiso: #F25F46;
    --color-tag-autorizacion: #F29946;
    --color-tag-otros: #B9D8FC;

    --color-folder-1: #F25F46;
    --color-folder-2: #F29946;
    --color-folder-3: #71ce9b;
    --color-folder-4: #d98ee6;
}


