



/*Errors*/
.errors{
    display: block;
    padding: 10px;
    background: #ff4444;
    border-radius: 15px;
    position: relative;
    margin-bottom: 10px;
}
.error-flex{
    display: flex;
    align-content: center;
    position: relative;
    align-items: center;
    font: 15px var(--font-primary);
    color: white;
}
.error-icon{
    width: 35px;
    height: 35px;
    box-shadow: 2px 2px 3px #00000061;
    border-radius: 50%;
    margin-right: 20px;
}
.errors-close{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 18px;
    z-index: 2;
    filter: brightness(0) invert(1);
    cursor: pointer;
}