.truck-content {
  width: 100%;
  display: flex;
}
.truck-content-first,
.truck-content-second {
  position: relative;
  display: flex;
}

[data-type="tracto-dolly-modular"] .truck-content-img--is-dolly {
  width: 550px;
}
[data-type="tracto-dolly-modular"] .truck-ejes {
  position: absolute;
  bottom: 0px;
  left: 94px;
  height: 62px;
  width: 105px;
  display: flex;
  justify-content: flex-end;
}

[data-type="tracto-dolly-modular"] .truck-ejes-content {
  position: relative;
  height: 100%;
  width: auto;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

[data-type="tracto-dolly-modular"] .truck-ejes-img:nth-child(3) {
  margin-left: 0;
}
[data-type="tracto-dolly-modular"] .truck-ejes-img {
  position: relative;
}
[data-type="tracto-dolly-modular"] .truck-img {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
[data-type="tracto-dolly-modular"] .truck-medidas {
  position: absolute;
  bottom: -40px;
  width: 100%;
  left: 0;
  height: 30px;
}
[data-type="tracto-dolly-modular"] .truck-medidas-option {
  position: absolute;
  top: -5px;
}
[data-type="tracto-dolly-modular"] .truck-medidas-option-text {
  width: 15px;
  height: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  align-items: center;
  font-size: 8px;
  margin: auto;
  position: relative;
  z-index: 2;
  text-align: center;
}
[data-type="tracto-dolly-modular"] .truck-medidas-option:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 1px;
}
[data-type="tracto-dolly-modular"] .truck-content-first {
  max-width: 322px;
}
[data-type="tracto-dolly-modular"][data-ejes-middle="4"] .truck-content-first{
  max-width: 313px;
}


[data-medida="A"].truck-medidas-option {
  width: 60px;
  top: 10px;
  left: 25px;
}
[data-medida="A"] .truck-medidas-option-text,
[data-medida="A"]:after {
  background: #5c93d8;
}
[data-medida="B"] .truck-medidas-option-text,
[data-medida="B"]:after {
  background: #c5ae05;
}
[data-medida="C"] .truck-medidas-option-text,
[data-medida="C"]:after {
  background: #f74821;
}
[data-medida="D"] .truck-medidas-option-text,
[data-medida="D"]:after {
  background: #ffa535;
}
[data-medida="E"] .truck-medidas-option-text,
[data-medida="E"]:after {
  background: #ff6185;
}

[data-medida="F"] .truck-medidas-option-text,
[data-medida="F"]:after {
  background: #d587d5;
}
[data-medida="G"] .truck-medidas-option-text,
[data-medida="G"]:after {
  background: #532343;
}
[data-medida="C"]:before{
    content: "";
    position: absolute;
    top: -72px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 14px solid #e800b7;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 2;
}



[data-ejes-first="1"] [data-medida="B"].truck-medidas-option {
  width: 99px;
  left: 85px;
  top: -1px;
}
[data-ejes-first="2"] [data-medida="B"].truck-medidas-option {
  width: 70px;
  left: 85px;
  top: -1px;
}
[data-ejes-first="3"] [data-medida="B"].truck-medidas-option {
  width: 66px;
  top: -4px;
  left: 85px;
}


[data-ejes-first="1"] [data-medida="C"].truck-medidas-option {
  width: 16px;
  left: 181px;
  top: 9px;
}
[data-ejes-first="2"] [data-medida="C"].truck-medidas-option {
  width: 17px;
  left: 155px;
  top: 5px;
}
[data-ejes-first="3"] [data-medida="C"].truck-medidas-option {
  width: 20px;
  top: 4px;
  left: 152px;
}



[data-ejes-first="1"][data-ejes-middle="1"] [data-medida="D"].truck-medidas-option {
  width: 128px;
  top: -8px;
  left: 181px;
}
[data-ejes-first="1"][data-ejes-middle="2"] [data-medida="D"].truck-medidas-option {
  width: 109px;
  top: -8px;
  left: 185px;
}
[data-ejes-first="1"][data-ejes-middle="3"] [data-medida="D"].truck-medidas-option {
  width: 83px;
  top: -8px;
  left: 181px;
}
[data-ejes-first="1"][data-ejes-middle="4"] [data-medida="D"].truck-medidas-option {
  width: 81px;
  top: -8px;
  left: 181px;
}




[data-ejes-first="2"][data-ejes-middle="1"] [data-medida="D"].truck-medidas-option {
  width: 130px;
  top: -8px;
  left: 154px;
}
[data-ejes-first="2"][data-ejes-middle="2"] [data-medida="D"].truck-medidas-option {
  width: 130px;
  top: -8px;
  left: 154px;
}
[data-ejes-first="2"][data-ejes-middle="3"] [data-medida="D"].truck-medidas-option {
  width: 110px;
  top: -7px;
  left: 155px;
}
[data-ejes-first="2"][data-ejes-middle="4"] [data-medida="D"].truck-medidas-option {
  width: 122px;
  top: -7px;
  left: 155px;
}




[data-ejes-first="3"][data-ejes-middle="1"] [data-medida="D"].truck-medidas-option {
  width: calc(100% - 193px);
  top: -9px;
  left: 152px;
}
[data-ejes-first="3"][data-ejes-middle="2"] [data-medida="D"].truck-medidas-option {
  width: calc(100% - 193px);
  top: -9px;
  left: 152px;
}
[data-ejes-first="3"][data-ejes-middle="3"] [data-medida="D"].truck-medidas-option {
  width: 115px;
  top: -8px;
  left: 152px;
}
[data-ejes-first="3"][data-ejes-middle="4"] [data-medida="D"].truck-medidas-option {
  width: 124px;
  top: -8px;
  left: 152px;
}




[data-medida="E"].truck-medidas-option {
  width: 20px;
  top: 5px;
}
[data-ejes-first="1"][data-ejes-middle="1"] [data-medida="E"].truck-medidas-option {
  left: 308px;
  width: 17px;
}
[data-ejes-first="1"][data-ejes-middle="2"] [data-medida="E"].truck-medidas-option {
  left: 295px;
  width: 17px;
}
[data-ejes-first="1"][data-ejes-middle="3"] [data-medida="E"].truck-medidas-option {
  left: 265px;
  width: 17px;
}
[data-ejes-first="1"][data-ejes-middle="4"] [data-medida="E"].truck-medidas-option {
  left: 262px;
  width: 17px;
}
[data-ejes-first="3"][data-ejes-middle="2"] [data-medida="E"].truck-medidas-option,
[data-ejes-first="2"][data-ejes-middle="2"] [data-medida="E"].truck-medidas-option {
  left: 281px;
}
[data-ejes-first="3"][data-ejes-middle="3"] [data-medida="E"].truck-medidas-option,
[data-ejes-first="2"][data-ejes-middle="3"] [data-medida="E"].truck-medidas-option {
  left: 264px;
}
[data-ejes-first="2"][data-ejes-middle="4"] [data-medida="E"].truck-medidas-option{
  left: 276px;
  width: 16px;
}
[data-ejes-first="3"][data-ejes-middle="4"] [data-medida="E"].truck-medidas-option{
  left: 276px;
  width: 16px;
}



[data-medida="F"].truck-medidas-option {
  width: 240px;
  top: 25px;
}
[data-ejes-first="1"][data-ejes-middle="1"] [data-medida="F"].truck-medidas-option{
  left: 310px;
}
[data-ejes-first="1"][data-ejes-middle="2"] [data-medida="F"].truck-medidas-option{
  left: 296px;
  width: 252px;
}
[data-ejes-first="1"][data-ejes-middle="3"] [data-medida="F"].truck-medidas-option{
  left: 264px;
  width: 285px;
}
[data-ejes-first="1"][data-ejes-middle="4"] [data-medida="F"].truck-medidas-option{
  left: 264px;
  width: 281px;
}
[data-ejes-first="3"][data-ejes-middle="2"] [data-medida="F"].truck-medidas-option,
[data-ejes-first="2"][data-ejes-middle="2"] [data-medida="F"].truck-medidas-option {
  left: 281px;
  width: 267px;
}
[data-ejes-first="3"][data-ejes-middle="3"] [data-medida="F"].truck-medidas-option,
[data-ejes-first="2"][data-ejes-middle="3"] [data-medida="F"].truck-medidas-option {
  left: 265px;
  width: 284px;
}
[data-ejes-first="2"][data-ejes-middle="4"] [data-medida="F"].truck-medidas-option{
    width: 273px;
    left: 277px;
}

[data-ejes-first="3"][data-ejes-middle="4"] [data-medida="F"].truck-medidas-option{
    width: 273px;
    left: 277px;
}



[data-type="tracto-dolly-modular"] .truck-box-last {
  width: 270px;
  position: relative;
  display: flex;
  height: 115px;
  top: 40px;
  flex-direction: column;
  left: 0;
}
[data-type="tracto-dolly-modular"] .truck-box-last-images {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  top: 40px;
  left: 0;
  height: 100%;
  z-index: 2;
  position: relative;
  flex-direction: row-reverse;
  width: 270px;
}

[data-type="tracto-dolly-modular"] .truck-box-last:after {
  content: "";
  background: #3f74c1;
  display: block;
  height: 11px;
  position: absolute;
  width: 100%;
  top: 37px;
  left: 0;
  border-bottom: 1px solid #3f74c1;
  border-left: 0;
}
[data-type="tracto-dolly-modular"] .truck-box-last-images-trucks {
  display: flex;
}

[data-type="tracto-dolly-modular"] .truck-box-last-medida {
  width: 100%;
  text-align: center;
  position: relative;
  left: 0;
  top: 50px;
  display: flex;
}
#contentEjesMedio {
  position: relative;
  left: -96px;
  /* top: 28px; */
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  min-width: 100px;
}
#contentEjesMedio::after {
  content: "";
  background: #cab026;
  display: block;
  height: 14px;
  position: absolute;
  width: 40%;
  top: 57px;
  left: -73px;
  border: 1px solid #cab026;
  border-right: 0;
}

.truck-content-last,
.truck-content-middle {
  position: relative;
  display: flex;
}
.truck-content-last{
  left: 127px
}

[data-ejes-first="1"][data-ejes-middle="4"] .truck-content-last,
[data-ejes-first="2"][data-ejes-middle="4"] .truck-content-last,
[data-ejes-first="3"][data-ejes-middle="4"] .truck-content-last{
    left: 115px;
}