/*
 * Core Proyect
 * @author mfyance
 */






::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
}
:-moz-placeholder,
::-moz-placeholder {
    color: #fff;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #fff;
    font-style: italic;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


