.path{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    background-image: url(../../../cdn/core/others/grid.png);
    background-color: rgba(0, 0, 0, 0.08);
}
.login-titulo{
    position: relative;
    padding-top: 15px;
    text-align: center;
    font: 20px var(--font-secondary);
    color: white;
    text-transform: uppercase;
}
.login{
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #F8F8F8;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.login-bg{
    background-color: #F8F8F8;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    animation: 2s  alternate fondo;
    transition: all 2s ease;
    filter: grayscale(0) blur(7px);
}


.login-header{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300PX;
    /* transform: translateX(-50%); */
}
.login-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form{
    background: #4a4a4a52;
    padding: 20px;
    border-radius: 10px;
    min-width: 400px;
    box-shadow: 2px 2px 9px #b3b3b36b;
}



.login-logomtc{
    width: 100%;
}
.form-head{
    display: flex;
    color: white;
}

.form-head-li:hover{
    text-decoration: underline;
}
.form-head-li{
    font: 16px var(--font-oxygen);
    margin-right: 20px;
    letter-spacing: 0px;
    cursor: pointer;
    position:relative;
    color: #f3f3f385;
}
.form-head-li--is-active{
   text-decoration: underline;
   color: #fff;
}
.form-logo img{
    width: 80px;
    /* box-shadow: 0 0 0 4px #FFF, 0 0 0 9px #ffffff42; */
    /* border-radius: 50%; */
}
.form-logo{
    margin: 40px auto 30px auto;
    text-align: center;
    animation: fadein 2s;
}

.form-group{

}
.form-group-login{
    position: relative;
}
.form-field {

}
.form-input{
}
.form-icon2{
    width: 20px;
    position: absolute;
    top: 21px;
    left: 18px;
    filter: brightness(7);
}
.form-icon{
    width: 20px;
    position: absolute;
    top: 17px;
    left: 18px;
    filter: brightness(7);
}
.form-label{
    
}
.login-info{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.login-footer{

}
.browsers{
    text-align: center;
}
.browser-text{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font: 14px var(--font-oxygen);
}
.browsers-img{
max-width: 131px;
}



.login-footer{
    position: absolute;
    bottom: 20px;
    right: 20px;
}





@media screen and (max-height: 800px),
@media screen and (max-width: 800px){
    html{
        overflow: auto !important;
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    body{
        overflow: auto !important;
        height: 100% !important;
        max-height: inherit;
        margin: 0;
        position: relative;
    }
    .login{
        overflow: auto;
        height: auto !important;
        max-height: inherit;
        display: block;
        flex-direction: initial;
        height: initial;
        min-height: 100%;
        overflow: auto !important;
    }
    .login-content{
        position: relative;
        max-width: 400px;
        top: inherit;
        left: inherit;
        transform: inherit !important;
        margin: 30px auto;
        overflow: auto !important;
        height: auto;
        min-height: auto;
        max-height: inherit;
    }
    .login-bg{
        position: absolute; 
    }
    .login-header{
        position: relative;
        margin: 0 auto;
        top: inherit;
        left: inherit;
        margin-top: 5px;
    }
    .login-footer{
        position: relative;
        bottom: inherit;
        right: inherit;
        padding: 10px 0;
    }
    .login-form{
        padding: 10px;
    }
    .login-form{
        min-width: 100%;
    }
}
