[open-menu="true"] .button-primary *{
    color: white !important;
    padding-left: 5px;
    font-size: 13px;
}
[open-menu="true"] .mailbox-options .button svg{
    position: absolute;
    left: 7px;
    padding: 0;
}
[open-menu="true"] .mailbox-options .button{
    width: 100%;
    text-align: left;
    top: inherit;
    left: inherit;
    padding: 0;
    padding-left: 40px;
    justify-content: flex-start;
    min-width: 100%;
}
[open-menu="true"] .mailbox-options{
    width: 180px;
    min-width: 180px;
}
[open-menu="true"] tooltip:after{display: none;}
[open-menu="true"] tooltip{
    position: relative;
    top: inherit;
    left: inherit;
    opacity: 1;
    visibility: visible;
    transform: inherit;
    background: no-repeat;
    box-shadow: none;
    padding: 0;
    word-break: break-word;
    white-space: normal;
    text-align: left;
    letter-spacing: 0px;
    font-size: 11px;
}



.mailbox{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #F8F8F8;
}

.mailbox-main{
    display: flex;
    min-height: calc( 100vh - 80px);
    padding: 20px 0;
    z-index: 2;
}

.mailbox-options{
    width: 95px;
    box-shadow: 1px 0px 0px #e2e2e2, 2px 0px 0px #fff;
}
.mailbox-mails{
    max-width: 715px;
    width: 100%;
    box-shadow: 1px 0px 0px #e2e2e2, 2px 0px 0px #fff;
}

.mailbox-preview{
    width: calc(100% - 800px);
}


.mailbox-header{
    background: #edfdff;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 2px #ddd;
    height: 80px;
    z-index: 3;
}


.mailbox-header-profile-img,
.mailbox-header-logo-img{
    width: 100%;
}

.mailbox-header-profile-img{
    border-radius: 50%;
}

.mailbox-header-profile-name{
    font: 18px var(--font-oxygen);
    font-weight: 300;
    color: white;
    padding-left: 10px;
    letter-spacing: -1px;
    word-spacing: 5px;
}
.mailbox-header-profile-arrow svg{
    /* position: absolute; */
    /* top: 2px; */
    /* right: 2px */
}
.mailbox-header-profile-arrow{
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    right: 7px;
}


.mailbox-header-logo{
    display: inline-flex;
    width: 300px;
    background: var(--color-secondary);
    padding: 10px;
}

.mailbox-header-title{
   display: inline-flex;
   align-items: center;
   padding: 10px;
   width: calc( 100% - 650px);
}
.mailbox-header-profile:hover{
    background: var(--color-primary);
}
.mailbox-header-profile{
    width: 350px;
    margin-left: auto;
    background: var(--color-primary-light);
    padding: 13px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}

.mailbox-header-profile-foto{
    width: 50px;
}

.mailbox-header-title-h1{
    color: var(--color-primary);
    font: 21px var(--font-fredoka);
    text-transform: uppercase;
}

.mailbox-column{
    padding: 5px 20px;
}

.maildetailbox-profile{
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px #868686;
}

hr{
    height: 1px;
    width: 100%;
    border: none;
    background: #e6e6e6;
    box-shadow: 0 1px 0 #fff;
    margin-bottom: 20px;
}


mailbox-filters{
    margin-bottom: 15px;
    display: flex;
    background: white;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.info-mail-strong{
    color: var(--color-primary);
    padding: 0 5px
}
.info-mail{
    display: flex;
    font: 16px var(--font-oxygen);
    letter-spacing: 0px;
    word-spacing: 1px;
    color: var(--color-grey-black);
}


@media only screen and (max-width: 1200px) {
    .mailbox-mails{
        width: calc(100% - 495px);
    }
    .mailbox-preview{
        width: 400px
    }
}


@media only screen and (max-width: 980px) {
   
}

@media only screen and (max-width: 800px) {
    .mailbox-preview{
        display: none
    }

    .mailbox-mails{
        width: calc(100% - 95px);
    }
}



