
.select{
	border: 1px solid var(--color-grey);
	background: transparent;
	width: 100%;
	padding: 10px 15px;
	border-radius: 10px;
	font: 15px var(--font-oxygen);
	color: var(--color-grey-black);
	text-transform: uppercase;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(../../../../cdn/core/icons/icon-arrow-down.svg);
	background-position: right 10px center;
	background-repeat: no-repeat;
	cursor: pointer;
}


.select-filter{
	position: relative;
	display: block;
	background-image: url(../../../../cdn/core/icons/icon-calendar-filter.svg);
	height: 40px;
	background-size: 30px;
	background-position: 9px 6px;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 200px;
	padding-left: 50px;
	text-align: right;
}