body, html {
  height: 100%;
  font-family: 'Roboto', 'sans-serif';
}

.logo-mtc{
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-bg:after{
  content: '';
  background-color: #44444442;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
  45deg, 
  #00000029, #fb194426
  );
}
.login-bg{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: all 2s ease;
    filter: grayscale(0) blur(7px);
    position: absolute;
    top: 0;
    left: 0;
}



.hero-image {
  background-image: url("../img/liston.svg");
  height: 100%;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: 72%;
  background-position: 180% 14%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-title h1 {
  color: white;
  font-weight: 700;
  margin-top: 100px;
}

.main-title h2 {
  color: white;
  font-weight: 100;
  margin-top: 40px;
}

.login-content {
  background-image: url(../img/fondo-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 105%;
  background-position: 0 220px;
  padding: 50px 20px 30px;
  margin: auto 25px;
  margin-top: 5%;
  background-color: #253A4B;
  border-radius: 60px;
  box-shadow: -3px 2px 11px 0px black;
  /* margin: 60px; */
}

.login-content a {
  color: red;
}

.login-content a:hover {
  color: #253A4B;
}

.login-content h3 {
      color: white;
    text-align: center;
    font-family: 'Roboto', 'sans serif';
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 12%;
}

.login-content form {
  text-align: center;
}

.login-content form input[type=text],
.login-content form input[type=password] {
  border-style: none;
  border-radius: 18px;
  padding: 8px 10px 8px 49px;
  margin-bottom: 35px;
  width: 80%;
  font-size: 20px;
  line-height: 28px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.login-content form input[type=text]::-webkit-input-placeholder,
.login-content form input[type=password]::-webkit-input-placeholder {
  font-size: 12px;
  font-style: italic;
}

.login-content form input[type=text] {
  background-image: url("../img/icon_cuenta.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 3px;
}
.login-content form input[type=text]:hover,
.login-content form input[type=text]:active,
.login-content form input[type=password]:hover,
.login-content form input[type=password]:active {
  box-shadow: 1px 1px 7px white;
}

.login-content form input[type=password] {
  margin-bottom: 40px;
  background-image: url("../img/icon_password.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 4px;
}

.inputButton {
  position: relative;
  margin-bottom: 51%;
  border-radius: 10px;
  color: white;
  border-style: none;
  border: none;
  padding: 8px 50px;
  font-size: 16px;
  box-shadow: 0px 2px #1D2D3A;
  background: rgb(230,31,68);
  background: -moz-linear-gradient(90deg, rgba(230,31,68,1) 30%, rgba(240,109,69,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(230,31,68,1) 30%, rgba(240,109,69,1) 100%);
  background: linear-gradient(90deg, rgba(230,31,68,1) 30%, rgba(240,109,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e61f44",endColorstr="#f06d45",GradientType=1);
  transition: color .5s ease-in-out,background .5s ease-in-out,box-shadow .5s ease-in-out;
}

.inputButton:hover {
  color: #fff;
  background: -webkit-linear-gradient(90deg, rgba(240,109,69,1)30%, rgba(240,109,69,1) 100%);
  top: -2px;
  position: relative;
}

.login-content p {
  color: #616161;
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.logo-sigo-img{
   max-width: 180px;
}
.logo-sigo {
 text-align: center;
 margin: 40px auto;
 margin-top: 0;
}

/*media queries*/

@media (max-width: 992px) {
  .login-content {
    margin: 0;
    margin-top: 40px;
    background-size: 110%;
    padding: 40px 20px 30px;
  }
  .inputButton {
    margin-bottom: 40%;
    width: 65%;
  }
  .main-title h1 {
    font-size: 30px;
  }
  .main-title h2 {
    font-size: 23px;
  }
  .login-content form input[type=text],
  .login-content form input[type=password] {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .hero-image{
    background-position: 500% -77%;
    background-size: contain;
  }
}
@media (max-width: 768px) {
  .hero-image {
    background: none
  }
  .main-title h1,
  .main-title i,
  .main-title h2 {
    text-align: center;
    width: 100%
  }
  .login-content {
    padding: 9% 8% 7%;
    margin: 7%;
  }
  .login-content p a,
  .login-content p {
    font-size: 15px;
    color: white !important;
  }
}

@media (max-width: 460px) {
  .login-content {
    padding: 2%;
    padding-bottom: 7%;
    margin: 7% -25px 0;
    border-radius: 25px;
  }
  .login-content form input[type=text],
  .login-content form input[type=password] {
    width: 90%;
  }
  
  .main-title h1 {
    margin-top: 5%;
  }
  .main-title h2 {
    margin: 3%;
  }
}