/*
 * Profile.css
 * @author mfyance
 */

.main-proyect {
  font-family: var(--font-primary);
}

.button-primary:active {
  transform: scale(0.95);
}
.button-primary:disabled {
  background-color: var(--color-disabled);
  color: #ccc;
  cursor: not-allowed;
}
.button-primary:hover:not(:disabled) {
  background-color: #003f88;
}
.button-primary {
  border-radius: 10px;
  background: #005ecc;
  color: white;
}

.button-secondary:hover {
  background-color: var(--color-secondary-black);
}
.button-secondary {
  border-radius: 10px;
  background: var(--color-primary);
  color: white;
}

.button--is-icon {
  vertical-align: middle;
  margin-right: 4px;
  font-size: 32px !important;
}
.button--is-arrow {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: calc(50% - 20px);
  font-size: 40px !important;
}

.button-tab:hover {
  box-shadow: inset 15px 0 0 var(--color-primary);
  color: white;
}
.button-tab {
  padding: 15px 25px;
  background: var(--color-tab);
  /* box-shadow: inset 15px 0px 0px var(--color-primary); */
  color: var(--color-grey);
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  font: 1.5rem var(--font-secondary);
  /* box-shadow: inset 0px 1px 0 #777777; */
  position: relative;
  transition: all 0.2s ease;
  border: 0;
  border-bottom: 1px solid var(--color-grey-medium);
}
.button-tab img:first-child {
  width: 20px;
  margin-right: 10px;
}

.menu-option-active .button-tab {
  background: var(--color-blue-dark);
  box-shadow: inset 15px 0 0 var(--color-primary);
  color: white;
}
.menu-option-active button img {
  transform: rotate(180deg);
}
.menu-option-active .button--is-arrow {
  opacity: 1;
}
menu-option {
  display: block;
}
menu-option i.material-icons {
  font-size: 22px;
  margin-right: 10px;
}
.button-tab-content {
  display: none;
}
.button-tab-content.active {
  display: block;
}
.button-tab-content-ul {
  background: var(--color-tab-detail);
  box-shadow: inset 0px -2px 1px rgba(255, 255, 255, 0.4);
  padding: 10px;
}
.button-tab-content-li {
  padding-left: 25px;
}

.button-tab-content-a:hover {
  color: var(--color-primary-black);
  border-color: var(--color-primary);
}
.button-tab-content-a:hover:after {
  opacity: 1;
}
.button-tab-content-a:after {
  content: "trip_origin";
  font-family: "Material Icons";
  position: absolute;
  top: 12px;
  left: -22px;
  font-size: 14px;
}
.button-tab-content-a {
  position: relative;
  /* height: 38px; */
  display: inline-flex;
  align-items: center;
  color: var(--color-tab-active);
  font: 1.6rem var(--font-secondary);
  padding: 10px 0px 5px 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--color-tab-detail);
}
