

mailbox-card{
    width: 100%;
    padding: 20px;
    background: #fff;
    display: block;
    border-radius: 20px;
    box-shadow: 0 1px 3px #ececec;
    transition: all .3s ease;
    padding-left: 50px;
    position: relative;
    padding-left: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

[mailbox-card-favorite = true] [color-favorite = primary]{  color: var(--color-primary); }
[mailbox-card-favorite = true] [color-favorite = secondary]{  color: var(--color-secondary); }


[mailbox-card-active="true"],
mailbox-card:hover{
    background: var(--color-terciary);
}
mailbox-card-title{
    display: block;
    font: var(--font-size-xl) var(--font-primary);
    color: var(--color-grey-black);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
} 
mailbox-card-subtitle{
    display: block;
    font: var(--font-size-md) var(--font-primary);
    color: var(--color-grey-black);
    text-transform: uppercase;
    margin-bottom: 5px;
}


mailbox-card-tag{
    position: absolute;
    top: 18px;
    left: 12px;
    width: 30px;
    height: 30px;
}

mailbox-card-buttons{
    display: block;
    transition: all .3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    transform: translate(0px, -40px);
}

mailbox-card-date{
    position: absolute;
    top: 20px;
    right: 20px;
    font: 12px var(--font-primary);
    color: var(--color-grey-medium);
    transition: all .3s ease;
    transform: scale(1);
}


mailbox-card:hover mailbox-card-tag svg{
    opacity: 0;
}
mailbox-card:hover mailbox-card-buttons{
    opacity: 1;
    transform: translate(0px, 0px);
}

[mailbox-card-check="true"] mailbox-card-tag svg,
mailbox-card:hover mailbox-card-date{
    opacity: 0;
    transform: scale(0);
}

mailbox-card-button .button{
    margin-bottom: 15px;
}

mailbox-card:hover radio-button{
    opacity: 1;
    transform: scale(1);
}



[mailbox-card-check="false"] radio-button{
    opacity: 0;
    transition: all .1s ease;
    transform: scale(0);
}


mailbox-card radio-button{
    position: absolute;
    top: -7px;
    left: 0;
}   
radio-button{
    display: inline-flex;
    margin-bottom: 10px;
    margin-top: 10px;   
}

mailbox-card-share{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.mailbox-card-share-icon:hover{
    transform: scale(1.2);
    box-shadow: -2px 3px 6px #b7b7b7;
}
.mailbox-card-share-icon{
    cursor: pointer;
    transition: all .3s ease;
    width: 35px;
    margin: 0;
    margin-left: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 980px) {
    
    mailbox-card:hover mailbox-card-title{
        filter: blur(1.5px) !important;
        opacity: 0.2; 
    }
    mailbox-date,
    mailbox-buttons{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .mailbox-header-profile{
        width: auto !important;
    }
    .mailbox-header-profile-name{
        display: none;
    }
    .mailbox-header-logo{
        width: 300px !important;
        padding: 5px !important;
    }
    .mailbox-header-title{
        width: auto !important;
    }
    .mailbox-header-profile{
        width: auto !important;
        padding: 5px !important;
    }
    mailbox-card-date{
        position: inherit;
        top: inherit;
        right: auto;
        padding-bottom: 10px;
        display: block;
    }
}
