profile{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	height: calc(100vh - 80px);
	width: 350px;
	z-index: 2;
	box-shadow: -1px 4px 6px #00000029;
	background: var(--color-humo);
	transform: translateX(350px);
	transition: all .3s ease
}

[profile-show="false"]{
	transform: translateX(350px);
}

[profile-show="true"]{
	transform: translateX(0px);
}

profile-title{
	display: block;
	padding: 10px 10px;
	position: relative;
	padding-left: 50px;
	background: var(--color-grey);
}
.profile-title{
	font: 19px var(--font-fredoka);
	text-align: left;
	color: var(--color-primary);
	text-transform: uppercase;
	letter-spacing: -1px;
}
.profile-subtitle{
	font: 14px var(--font-oxygen);
	text-align: left;
	color: var(--color-grey-black);
	text-transform: uppercase;
	margin-top: 10px;
}
.profile-close:hover svg{color: white !important}
.profile-close:hover{
	background: var(--color-grey-medium);
}
.profile-close{
	position: absolute;
	top: 8px;
	left: 4px;
	cursor: pointer;
	border-radius: 50%;
	padding: 8px;
}
profile-content{
	display: block;
}
.profile-content{
	text-align: center;
	padding: 15px 0px;
	background: white;
	padding-bottom: 20px;
}
.profile-content-img{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid var(--color-secondary);
}
.profile-content-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
}
.profile-content-info-link:hover{
	background: var(--color-secondary);
}
.profile-content-info-link{
	padding: 15px 0;
	font: 16px var(--font-oxygen);
	color: var(--color-grey-black);
}