.truck-content {
    width: 100%;
    display: flex;
}
.truck-content-first,
.truck-content-second{
    position: relative;
    display: flex;
}


[data-type="tracto-remolque"] .truck-content-img--is-remolque {
    width: 500px;
}
[data-type="tracto-remolque"] .truck-ejes {
    position: absolute;
    bottom: 0px;
    left: 130px;
    height: 62px;
    width: 105px;
    display: flex;
    justify-content: flex-end;
}

[data-type="tracto-remolque"] .truck-ejes-content{
    position: relative;
    height: 100%;
    width: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

[data-type="tracto-remolque"] .truck-ejes-img:nth-child(3){
    margin-left: 0;
}
[data-type="tracto-remolque"] .truck-ejes-img{
    position: relative;
}
[data-type="tracto-remolque"] .truck-img{
    width: 35px;
    height: 35px;
    min-width: 35px;
}
[data-type="tracto-remolque"] .truck-medidas{
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0;
    height: 30px;
}

[data-type="tracto-remolque"] .truck-ejes-middle{
    position: absolute;
    bottom: -12px;
    width: auto;
    left: 300px;
    top: 97px;
    height: 30px;
}
[data-type="tracto-remolque"] .truck-medidas-option{
    position: absolute;
}
[data-type="tracto-remolque"] .truck-medidas-option-text{
    width: 15px;
    height: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    align-items: center;
    font-size: 8px;
    margin: auto;
    position: relative;
    z-index: 2;
    text-align: center;
}
[data-type="tracto-remolque"] .truck-medidas-option:after{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 1px;
}
[data-type="tracto-remolque"] .truck-content-first{
    max-width: 720px;
}



[data-medida="A"].truck-medidas-option{
    width: 65px;
    top: 5px;
    left: 33px;
}
[data-medida="B"].truck-medidas-option{
    width: 118px;
    top: -2px;
}
[data-medida="C"].truck-medidas-option{
    top: 8px;
}
[data-medida="D"].truck-medidas-option{
    top: 20px;
}
[data-medida="E"].truck-medidas-option{
    top: 10px;
}


[data-medida="A"] .truck-medidas-option-text,
[data-medida="A"]:after{
    background: #5c93d8;
}
[data-medida="B"] .truck-medidas-option-text,
[data-medida="B"]:after{
    background: #c5ae05;
}
[data-medida="C"] .truck-medidas-option-text,
[data-medida="C"]:after{
    background: #f74821;
}
[data-medida="D"] .truck-medidas-option-text,
[data-medida="D"]:after{
    background: #ffa535;
}
[data-medida="E"] .truck-medidas-option-text,
[data-medida="E"]:after{
    background: #a761ff;
}

[data-medida="F"] .truck-medidas-option-text,
[data-medida="F"]:after{
    background: #ff6185;
}






[data-ejes-first="1"] [data-medida="B"].truck-medidas-option{
    left: 98px;
}
[data-ejes-first="1"] [data-medida="C"].truck-medidas-option{
    left: 216px;
    width: 80px;
}
[data-ejes-first="1"][data-ejes-middle="4"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 73px;
}
[data-ejes-first="1"][data-ejes-middle="4"] [data-medida="E"].truck-medidas-option{
    width: 130px;
    left: 370px;
}
[data-ejes-first="1"][data-ejes-middle="3"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 57px;
}
[data-ejes-first="1"][data-ejes-middle="3"] [data-medida="E"].truck-medidas-option{
    width: 146px;
    left: 354px;
}
[data-ejes-first="1"][data-ejes-middle="2"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 39px;
}
[data-ejes-first="1"][data-ejes-middle="2"] [data-medida="E"].truck-medidas-option{
    width: 165px;
    left: 335px;
}
[data-ejes-first="1"][data-ejes-middle="1"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 23px;
}
[data-ejes-first="1"][data-ejes-middle="1"] [data-medida="E"].truck-medidas-option{
    width: 180px;
    left: 320px;
}





[data-ejes-first="2"] [data-medida="B"].truck-medidas-option{
    left: 98px;
    width: 102px;
}
[data-ejes-first="2"] [data-medida="C"].truck-medidas-option{
    left: 199px;
    width: 99px;
}
[data-ejes-first="2"][data-ejes-middle="4"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 73px;
}
[data-ejes-first="2"][data-ejes-middle="4"] [data-medida="E"].truck-medidas-option{
    width: 130px;
    left: 370px;
}
[data-ejes-first="2"][data-ejes-middle="3"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 57px;
}
[data-ejes-first="2"][data-ejes-middle="3"] [data-medida="E"].truck-medidas-option{
    width: 146px;
    left: 354px;
}
[data-ejes-first="2"][data-ejes-middle="2"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 39px;
}
[data-ejes-first="2"][data-ejes-middle="2"] [data-medida="E"].truck-medidas-option{
    width: 165px;
    left: 335px;
}
[data-ejes-first="2"][data-ejes-middle="1"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 23px;
}
[data-ejes-first="2"][data-ejes-middle="1"] [data-medida="E"].truck-medidas-option{
    width: 180px;
    left: 320px;
}




[data-ejes-first="3"] [data-medida="B"].truck-medidas-option{
    left: 98px;
    width: 86px;
}
[data-ejes-first="3"] [data-medida="C"].truck-medidas-option{
    left: 185px;
    width: 112px;
}
[data-ejes-first="3"][data-ejes-middle="4"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 73px;
}
[data-ejes-first="3"][data-ejes-middle="4"] [data-medida="E"].truck-medidas-option{
    width: 130px;
    left: 370px;
}
[data-ejes-first="3"][data-ejes-middle="3"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 57px;
}
[data-ejes-first="3"][data-ejes-middle="3"] [data-medida="E"].truck-medidas-option{
    width: 146px;
    left: 354px;
}
[data-ejes-first="3"][data-ejes-middle="2"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 39px;
}
[data-ejes-first="3"][data-ejes-middle="2"] [data-medida="E"].truck-medidas-option{
    width: 165px;
    left: 335px;
}
[data-ejes-first="3"][data-ejes-middle="1"] [data-medida="D"].truck-medidas-option{
    left: 297px;
    width: 23px;
}
[data-ejes-first="3"][data-ejes-middle="1"] [data-medida="E"].truck-medidas-option{
    width: 180px;
    left: 320px;
}








[data-type="tracto-remolque"] .truck-box-last{
    width: 315px;
    position: relative;
    display: flex;
    height: 85px;
    top: 54px;
    flex-direction: column;
}
[data-type="tracto-remolque"] .truck-box-last-images{
    width: 100%;
    overflow-y: hidden;
    display: flex;
    top: 40px;
    height: 100%;
    z-index: 2;
    position: relative;
    flex-direction: row-reverse;
    width: 316px;
}

[data-type="tracto-remolque"] .truck-box-last:after{
    content: "";
    background: #52a1e4;
    display: block;
    height: 16px;
    position: absolute;
    width: 100%;
    top: 36px;
    left: -2px;
}
[data-type="tracto-remolque"] .truck-box-last-images-trucks{
    display: flex;
}

[data-type="tracto-remolque"] .truck-box-last-medida{
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    top: 50px;
    display: flex;
}



