body {
  font-size: 1.2rem;
  color: #555555;
}

.switch {
  display: flex;
}

.label-switch {
  line-height: 2.2;
  margin-right: 20px;
}

@media only screen and (max-width: 400px) {
  .label-switch {
    line-height: 1.2;
  }
}

.text-D {
  color: #887676;
}

.toggle {
  display: flex;
  text-align: center;
  user-select: none;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  transition: all 350ms ease-in;
}

.toggle--btn:hover {
  cursor: pointer;
}

.toggle--btn, .toggle--btn:before, .toggle--btn:after, .toggle--checkbox, .toggle--checkbox:before, .toggle--checkbox:after, .toggle--feature, .toggle--feature:before, .toggle--feature:after {
  transition: all 250ms ease-in;
}

.toggle--btn:before, .toggle--btn:after, .toggle--checkbox:before, .toggle--checkbox:after, .toggle--feature:before, .toggle--feature:after {
  content: '';
  display: block;
}

.toggle--knob .toggle--btn {
  position: relative;
  width: 80px;
  height: 40px;
  font-family: 'Roboto', Sans Serif;
  text-transform: uppercase;
  color: #fff;
  background: #54FAC4;
  border-radius: 40px;
}

.toggle--knob .toggle--btn:before {
  display: block;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #E0FFF5;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .1), 0 1px 8px rgba(0, 0, 0, .1);
  text-indent: -100%;
}

.toggle--knob .toggle--feature {
  position: relative;
  display: block;
  overflow: hidden;
  height: 40px;
  font-size: 1rem;
}

.toggle--knob .toggle--feature:before, .toggle--knob .toggle--feature:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toggle--knob .toggle--feature:before {
  content: attr(data-label-on);
  right: 20%;
}

.toggle--knob .toggle--feature:after {
  content: attr(data-label-off);
  left: -60%;
}

.toggle--knob .toggle--checkbox:checked+.toggle--btn {
  background: #CCCCCC;
  color: #E9EDF3;
}

.toggle--knob .toggle--checkbox:checked+.toggle--btn:before {
  right: 0;
  background: #fff;
}

.toggle--knob .toggle--checkbox:checked+.toggle--btn .toggle--feature:before {
  right: -60%;
}

.toggle--knob .toggle--checkbox:checked+.toggle--btn .toggle--feature:after {
  left: 20%;
}

.card {
  background-color: #fff;
  border-radius: 0.75rem;
  width: 85%;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .card {
    width: 90%;
  }
}

.card .card-body {
  padding: 20px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .card .card-body {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .card .card-body {
    margin-right: 0;
  }
}

.card .card-body form input:read-only {
  border: none;
}