:root{
  --color-primary: #73ac84;
  --color-primary-light: #9dd4ad;
  --color-gray:  #b0b0b0;
  --color-blue:  #314254;

}
@font-face {
	font-family: "Bauhaus93";
	src: url("../font/Bauhaus-93-Regular.ttf");
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 0.94vw;
}

#login {
	height: 100vh;
	width: 100vw;
	padding: 0;
	overflow: hidden;
	position: relative;
	background: url("../img/fondo-desktop.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.form-select{
	width: 100%;
	padding: 12px 10px;
	background-color: #fff;
	border-radius: 7px;
	border-color: #dedede;
	font: 20px Roboto;
	color: var(--color-blue);
}

.bg-img {
	height: 100%;
	background: -o-linear-gradient(top, rgba(157, 212, 173, 0.64) 0%, rgba(49, 66, 84, 0.64) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 212, 173, 0.64)), to(rgba(49, 66, 84, 0.64)));
	background: linear-gradient(180deg, rgba(157, 212, 173, 0.64) 0%, rgba(49, 66, 84, 0.64) 100%);
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-secciones {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-image: url('../img/pathlines.png');
}

.hide-desktop {
	display: none;
}

.logo-provias {
	width: 20.54rem;
	height: 3.58;
	margin-left: 2.57rem;
	margin-top: 2.62rem;
	position: absolute;
	z-index: 20;
}

.logo-provias img {
	width: 100%;
}

.fondo-celeste {
	height: 100%;
	width: 68.47rem;
	position: relative;
}

.fondo-lineas {
	position: absolute;
	width: 100%;
}

.fondo-celeste .titulo {
	width: 37.49rem;
	height: 5.15rem;
	position: relative;
	left: 5.5rem;
	right: 59.58%;
	top: 15rem;
	bottom: 62.94%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: "Bauhaus93";
	text-transform: uppercase;
	font-weight: normal;
	font-size: 3.53rem;
	line-height: 5.15rem;
	color: #FFFFFF;
	text-shadow: 2px 5px 4px  var(--color-blue);

}

.fondo-celeste .box-texto {
	position: absolute;
	width: 49.61rem;
	height: 5.3rem;
	left: 5.8rem;
	top: 21rem;
}

.fondo-celeste p {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.51rem;
	line-height: 1.77rem;
	color: #fff;
}

.box-caracteristicas {
	background: rgba(218, 233, 238, 0.38);
	width: 100%;
	height: 9.84rem;
	position: absolute;
	top: 31rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.box-caracteristicas .rapido {
	margin-left: 5.05rem;
}

.box-caracteristicas .flexible {
	margin-right: 5.05rem;
}

.caracteristicas {
	width: 5.3rem;
	height: 5.8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.caracteristicas .img-rapido {
	width: 4.86rem;
	height: 3.53rem;
}

.caracteristicas .img-amigable {
	width: 4.09rem;
	height: 3.53rem;
}

.caracteristicas .img-flexible {
	width: 3.55rem;
	height: 3.53rem;
}

.caracteristicas img {
	width: 100%
}

.caracteristicas p {
	margin-top: 1rem
}

.box-navegadores {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-ms-flex-align: center;
	position: absolute;
  right: 4.19rem;
  /* top: 48.23rem; */
	bottom: 3.18rem;
	
  height: auto;
}

.box-navegadores p {
	font-family: Roboto, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.16rem;
	line-height: 1.36rem;
}

.box-navegadores figure {
	width: 10.5rem;
	height: 3.23rem;
	margin-left: 2.37rem;
}

.box-navegadores figure img {
	width: 100%;
}

.box-candado {
	width: 6.05rem;
	height: 6.05rem;
	position: absolute;
	left: 62.48rem;
	/* right: 35.58%; */
	top: 24.68rem;
	/* bottom: 44.72%; */
	background: #ffffff;
	opacity: 0.95;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 999;
}

.box-candado .fondo-candado-azul {
	width: 4.24rem;
	height: 4.24rem;
	background:  var(--color-blue);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.box-candado .fondo-candado-azul img {
	width: 1.61rem;
	height: 1.61rem;
}

.box-descargas {
	display: none;
}

.fondo-blanco {
  background-color: #fff;
  height: 100%;
  width: 42.47rem;
  opacity: 0.95;
}

.icon-login {
  width: 4.19rem;
  height: 4.01rem;
  margin: auto;
}

.icon-login img {
  width: 100%;
  height: 100%;
}

.titulo-portal {
  font-family: "Bauhaus93";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.71rem;
  line-height: 5.15rem;
  color:  var(--color-blue);
  text-align: center;
}

.box-login {
  position: relative;
  top: 5.75rem;
  width: 28rem;
  height: 100%;
  left: 5.4rem;
  right: 7.32rem;
  /* margin: auto; */
}

.box-login .input-radio {
  display: none;
}
.box-login .input-radio + label {
  display: inline-block;
}

.box-login .input-radio ~ .input-register {
  display: none;
}

.box-login #tab1:checked ~ .input-register.content1,
.box-login #tab2:checked ~ .input-register.content2,
.box-login #tab3:checked ~ .input-register.content3 {
  display: block;
}

.box-login .input-radio:checked + label {
  color:  var(--color-blue);
  
  padding-bottom: 0.45rem;
  border-bottom: 0.2rem solid  var(--color-primary-light);
  margin-bottom: -0.2rem;
}

.box-login .input-radio:not(:checked) + label {
  cursor: pointer;
}
.box-login .input-radio:hover +label {
  color:  var(--color-blue);
 
}

.letra-encabezado {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.16rem;
  color: var(--color-gray) ;
  margin: auto;
  margin-bottom: 0.45rem;
  margin-top: 4.75rem;
}
.pad-l-r {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.encabezado:hover .line {
  margin-top: -0.3rem;
}

.input-register {
  padding: 4.64rem 4.49rem 4.08rem 5.75rem;
  text-align: center;
  border-top: 0.1rem solid var(--color-gray);
}

.input-register-space {
  height: 1.5rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.16rem;
  color: #000;
  padding: 0rem 1.4rem 0rem 1rem;
  outline: none;
  border: none;
  border-left: 0.05rem solid  var(--color-gray);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 0.05rem solid var(--color-gray);
}

.input:focus-within  {
	border-bottom: 0.12rem solid var(--color-primary);
	
}
input:focus {
	border-left: 0.12rem solid var(--color-primary);
	
}
input:hover {
  cursor: pointer;
}


.img-icon {
  height: 1.51rem;
  width: 1.51rem;
  margin: 0rem 0.8rem 0.6rem 0.8rem;
}



.margin-top-password {
  margin-top: 2.3rem;
}

.btn-entrar {
  background: -o-radial-gradient(
    91.76% 59.42%,
    148.63% 2029.93%,
     var(--color-primary-light) 0%,
     var(--color-primary-light) 100%
  );
  background: radial-gradient(
    148.63% 2029.93% at 91.76% 59.42%,
     var(--color-primary-light) 0%,
     var(--color-primary-light) 100%
  );
  /* Green */
  -webkit-box-shadow: 0px 0.15rem 0px var(--color-primary);
  box-shadow: 0px 0.15rem 0px var(--color-primary);
  border-radius: 0.75rem;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.16rem;
  color: #ffffff;
  width: 10.54rem;
  height: 2.87rem;
  border: none;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3.1rem;
}

.btn-entrar:hover {
  background:  var(--color-blue);
}
.btn-entrar:hover .btn-circle {
  background:  var(--color-blue);
  display: block;
  z-index: 2999;
}

.btn-entrar:hover p{
	
		margin-left: 1rem;
	
}
.btn-circle {
  width: 2.02rem;
  height: 2.02rem;
  float: right;
  margin: 0.42em 0rem;
  display: none;
}

.olvidaste-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.13rem;
  justify-content: center;
}

.text-olvidaste-password {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.16rem;
  color:  var(--color-blue);
}

.link-recuperar {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 1.16rem;
  text-decoration: none;
  color:  var(--color-primary-light);
  padding-left: .5rem
}
.link-recuperar:hover {
  color:  var(--color-blue);
}

/* @media (max-width: 1366px)  and (orientation: landscape) { 
	html {
		font-size: 0.94vw;
	}
	.fondo-celeste .titulo{
		top: 8.22rem;
	}
	.fondo-celeste .box-texto{
		top: 15.2rem
	}
	.box-caracteristicas{
		top: 23.6rem
	}
	
 } */
@media (max-width: 1024px) {
  html {
    font-size: 4.6vw;
  }

  #login {
    height: 69.56rem;
    background-image: url("../img/fondo-mobile.png");
  }

  .bg-img {
    background-position: center top;
    /* height: 63rem; */
  }
  .box-secciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 36.95rem;
  }
  .hide-desktop {
    display: block;
  }
  .hide-mobile {
    display: none;
  }

  .logo-provias {
    width: 8.85rem;
    height: 1.52rem;
    margin-left: 1.78rem;
    margin-top: 2.04rem;
  }

  .fondo-celeste {
    width: 100%;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .fondo-celeste p {
    font-size: 0.65rem;
    line-height: 0.75rem;
  }

  .fondo-celeste .titulo {
    font-size: 1.8rem;
    height: 1.52rem;
    left: 0;
    top: 10.13rem;
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .fondo-celeste .box-texto {
    width: 16.82rem;
    height: 3.3rem;
    position: relative;
    left: 0rem;
    text-align: center;
    margin: 0 auto;
    top: 12.2rem;
  }

  .box-caracteristicas {
    height: 6.7rem;
    top: 20rem;
  }

  .caracteristicas p {
    margin-top: 0.55rem;
  }

  .caracteristicas {
    width: 3.22rem;
    height: 4.29rem;
  }

  .box-caracteristicas .rapido {
    margin-left: 0;
    width: 3.84rem;
    height: 4.3rem;
  }

  .box-caracteristicas .flexible {
    margin-right: 0;
    width: 2.8rem;
    height: 3.85rem;
  }

  .caracteristicas .img-rapido {
    width: 3.84rem;
    height: 2.79rem;
  }

  .caracteristicas .img-amigable {
    width: 3.22rem;
    height: 2.79rem;
  }

  .caracteristicas .img-flexible {
    width: 2.8rem;
    height: 2.79rem;
  }

  .caracteristicas p {
    margin-top: 0.75rem;
  }

  .box-navegadores,
  .box-candado {
    display: none;
  }

  .box-descargas {
    display: block;
    position: absolute;
    bottom: 3.35rem;
    width: 100%;
  }

  .box-descargas p {
    font-size: 0.78rem;
    line-height: 0.9rem;
    margin-bottom: 0.39rem;
	margin-left: 2.5rem;
	color: #fff;
	font-family: "Roboto", sans-serif;
  	font-style: normal;
  	font-weight: normal;
  }

  .box-descargas .botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 82%;
    margin: auto;
  }

  .btn-app,
  .btn-play {
    width: 8.32rem;
    height: 2.43rem;
  }

  .titulo-portal {
    font-size: 1.5rem;
    line-height: 0rem;
    padding-top: 0.8rem;
  }

  .btn-app:hover,
  .btn-play:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    outline: none;
  }

  .box-descargas img {
    width: 100%;
  }

  .fondo-blanco {
    position: relative;
    top: 5.98rem;
    width: 18.15rem;
    height: 24.97rem;
    margin: 0 auto;
    margin-bottom: 5.98rem;
  }

  .box-login {
    position: relative;
    top: 2.75rem;
    width: 100%;
    height: 100%;
    left: 0rem;
    margin: auto;
  }

  .icon-login {
    width: 1.83rem;
    height: 1.74rem;
    margin: auto;
  }

  .titulo-portal {
    font-size: 1.18rem;
    line-height: 0rem;
    padding-top: 0.8rem;
  }

  .type-login {
    margin-top: 2.07rem;
    border-bottom: 0.04rem solid var(--color-gray);
  }

  .letra-encabezado {
	font-size: 0.65rem !important;
	line-height: 0.48rem;
	color: var(--color-gray);
	margin-bottom: 0.5rem;
	margin-top: 2.2rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
  }

  .pad-l-r {
	padding-left: 0rem;
	padding-right: 0rem;
}

.letter-padding {
	padding-right: 1.4rem;
}

.input-register {
	padding: 2.2rem 2rem 2.74rem 2rem;
	border-top: 0.06rem solid var(--color-gray);
	width: 17rem;
	margin: 0 auto;
}

.box-login .input-radio:checked+label {
	border-bottom: 0.15rem solid  var(--color-primary-light);
	padding-bottom: 0.45rem;
	
}


  .box-login .input-radio:hover +label {
	color:  var(--color-blue);
	
  }
  .input-register-space {
	  height: 1rem;
    font-size: 0.78rem !important;
    line-height: 0.68rem;
	padding: 0rem 1rem 0rem 0.72rem;
	border-left: 0.05rem solid  var(--color-gray);
  }

 


  .img-icon {
    height: 0.95rem;
    width: 0.95rem;
    margin: 0rem 0.51rem 0.23rem 0.51rem;
  }


  .margin-top-password {
    margin-top: 1.5rem;
  }

  .btn-entrar {
    -webkit-box-shadow: 0px 0.06rem 0px var(--color-primary);
    box-shadow: 0px 0.06rem 0px var(--color-primary);
    border-radius: 0.35rem;
    font-size: 0.78rem !important;
    line-height: 0.68rem;
    width: 7.52rem;
    height: 2.05rem;
	margin-top: 1.8rem;
	
  }
  
  .btn-entrar:hover p{
	
	margin-left: 1rem;

}
  .btn-circle {
    width: 1.27rem;
    height: 1.27rem;
    margin: 0.42rem 0rem;
  }

  .olvidaste-password {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2.73rem;
  }

  .text-olvidaste-password {
    font-size: 0.78rem !important;
    line-height: 0.68rem;
  }

  .link-recuperar {
    font-size: 0.78rem !important;
    line-height: 0.68rem;
    margin: 0;
    /* margin-left: 0.5rem; */
  }

  .input:focus-within  {
	border-bottom: 0.05rem solid var(--color-primary);
	
}
input:focus {
	border-left: 0.05rem solid var(--color-primary);
	
}
}
