body {
  font-size: 1.2rem;
  color: #555555;
}

.card {
  background-color: #fff;
  border-radius: 0.75rem;
  width: 85%;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .card {
    width: 90%;
  }
}

.card .card-body {
  padding: 20px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .card .card-body {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .card .card-body {
    margin-right: 0;
  }
}

.card .card-body form input:read-only {
  border: none;
}

.select {
  position: relative;
  font-family: 'Roboto';
  width: 40%;
}
@media only screen and (max-width: 767px) {
  .select {
    width: 100%;
  }
}

.select select {
  display: none;
  /*oculta el elemento SELECT original: */
}

.select-selected {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #555555 transparent transparent transparent;
  line-height: 3;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #555555 transparent;
  top: 14px;
}

.select-items div, .select-selected {
  box-sizing: border-box;
  padding-left: 20px;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  outline: none;
  font-size: 1rem;
  color: #555555;
  padding-top: 16px;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: none;
  box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.2);
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}