/*
 * Design Tokens
 * @author mfyance
 */

:root {
  /* nuevos */
  --color-primary: #60c5ba;
  --color-secondary: #b5e8e1;
  --color-secondary-green: #76C1AA;
  --color-secondary-dark: #314254;
  --color-grey: #ececec;
  --color-grey-light: #d9d9d9;
  --color-grey-medium: #bdbdbd;
  --color-grey-hight: #818181;
  --color-blue-dark: #17375f;
  --color-blue-light: #2d67b0;
  --color-white: #ffffff;
  --color-aside: #4E6884;
  --color-tab: #6F8BA3;
  --color-tab-active: #6F8BA3;
  --color-tab-detail: #e7f9ff;



  /* extras */
  --color-primary-black: #003f88;
  --color-secondary-light: #00b9eb;
  --color-secondary-black: #e24600;
  --color-skyblue: #cef5ff;
  --color-grey: #ccc;
  --color-grey-black: #4b4b4b;
  --color-grey-aside: #3d4154;
  --color-purple-aside: #8b90a9;
  --color-bg-aside: #464d6f;
  --color-menu: #363c56;
  --color-disabled: #ddd;
  --font-primary: Arimo;
  --font-secondary: Roboto;
  --padding-10: 10px;
  --padding-20: 20px;
}
