/* Tramites */

/* Título */
p.titulo {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--color-secondary-dark);
  margin: 60px 20px 10px;
}

/* Seccion */
.tramites {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 40px;
}

/* Opciones */
.opcion {
  width: 279px;
  transition: transform 0.2s;
  position: relative;
  margin-right: 30px;
  margin-bottom: 70px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.2);
  padding-top: 120px;
  background-image: url(../img/portal/bg-tramite.png);
  background-size: cover;
}
.opcion:last-child {
  margin-right: 0px;
  margin-top: 120px;
}
.opcion__img {
  position: relative;
  width: 100%;
}
.opcion__img img {
  position: absolute;
  max-height: 90px;
  top: -98px;
  left: 50%;
  transform: translate(-50%, 0);
}
.opcion__contenido {
  padding: 10px 50px 110px;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: var(--color-secondary-dark);
}
.opcion__contenido h3 {
  font-family: var(--font-secondary);
  font-size: 17.9967px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-secondary-dark);
}
.opcion__contenido p {
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: var(--color-secondary-dark);
  font-family: var(--font-secondary);
}
.opcion__contenido > div {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  height: 50px;
  background: var(--color-white);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
}
.opcion__contenido > div a {
  display: block;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: var(--color-secondary-dark);
}
.item-btn {
  width: 50%;
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary-green);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item-btn {
  cursor: pointer;
}
.item-btn:first-child {
  border-right: 1px solid var(--color-secondary-green);
}
.item-btn .white {
  display: none;
}
.item-btn:hover {
  background: var(--color-secondary-green);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
}
.opcion__contenido .item-btn:hover a {
  color: var(--color-white);
}
.item-btn:hover .white {
  display: block;
}
.item-btn:hover .color {
  display: none;
}

/* Opciones:hover */
.opcion:hover,
.opcion.activo {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 1200px) {
  .tramites {
    margin: 0 60px;
    padding-top: 140px;
  }
  .opcion {
    /* max-width: 320px; */
    margin-right: 0px;
  }
  .opcion:first-child {
    margin-right: 50px;
  }
}

@media (max-width: 860px) {
  body {
    padding-top: 70px;
  }
  .tramites {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 0;
  }
  p.titulo {
    margin: 40px 20px 0px;
    font-size: 20px;
  }
  .opcion {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    margin-top: 120px;
  }
  .opcion:first-child {
    margin-right: 0;
  }
}
