select{
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-ms-appearance: none; 
	appearance: none; 
	outline: 0; 
	
}

.form-input--is-login{
    border: 2px solid #ffffff6b;
    padding: 20px 10px;
    width: 100%;
    font: 15px var(--font-oxygen);
    color: white;
    transition: all .3s ease;
    background: #4c4c4c54;
    padding-left: 50px;
}

.form-select--is-login{
	border: 2px solid #b7b5a7;
	background: #4c4c4c54;
	width: 100%;
	padding: 10px;
	height: 63px;
	padding-left: 50px;
	font: 17px var(--font-oxygen);
	color: white;
	text-transform: uppercase;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("../../../../cdn/core/icons/icon-arrow-down.svg");
	background-position: right 10px center;
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: 20px;
}

.form-input-bottom{
    border-bottom: 2px solid #ffffff6b;
    border-radius: 0 0 20px 20px;
    border-top: 0;
}
.form-input-top{
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #b7b5a7;
}

.form-input-center{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    border-radius: 0;
}




.form-content {
	position: relative;
	width: 100%;
	height: 38px;
	display: flex;
	flex-direction: column;
}
.form-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--color-grey-medium);
	transition: 0.2s all;
	cursor: text;
	font: 16px var(--font-primary);
}
.form-input {
	width: 100%;
	border: 0;
	outline: 0;
	padding: 5px 0;
	border-bottom: 2px solid #d3d3d3;
	box-shadow: none;
	color: var(--color-primary);
	text-transform: uppercase;
	font: 14px var(--font-primary);
}
.form-input:focus,
.form-input:valid {
	border-color: var(--color-primary-light);
}
.form-input:focus~.form-label,
.form-input:valid~.form-label {
	top: -24px;
	color: var(--color-grey-black);
}


.form-buttons{
	display: flex;
	justify-content: space-between;
}