/*
 * Button
 * @author mfyance
 */

.button{
    cursor: pointer;
    position: relative;
    width: inherit;
    margin: initial;
    border: none;
    transition: all 0.5s ease;
    background-size: 200% auto;
    text-transform:uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    transition: all 0.2s ease;
    top: 0;
    padding: inherit;
}





.button-send[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-send {
    -webkit-transition: color .4s, padding-left .55s, padding-right .55s;
    -o-transition: color .4s, padding-left .55s, padding-right .55s;
    transition: color .4s, padding-left .55s, padding-right .55s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 40px;
    position: relative;
    z-index: 1;
    font: 14px var(--font-oxygen);
    color: #fff;
    border-radius: inherit !important;
    background: linear-gradient(90deg, var(--color-primary-light) 0%,var(--color-primary) 100%);
}

.button-send:not([disabled]):hover:after {
    -webkit-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    width: 24px;
    background-color: rgba(73, 190, 65, .5)
}

.button-send:not([disabled]):after,
.button-send:not([disabled]):before {
    -webkit-transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: calc(100% - 24px);
    height: 100%;
    /* background-color: var(--template-color-2); */
    background: linear-gradient(90deg,  var(--color-secondary-black) 0%, var(--color-primary-light) 100%);
}

.button-send:not([disabled]):after {
    -webkit-transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    -o-transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    z-index: -1;
    width: calc(100% - 12px);
    opacity: 0.8
}

.button-send:not([disabled]):hover {
    color: #fff;
    background-color: var(--color-primary);
    padding-left: 40px !important;
    padding-right: 60px !important;
}

.button-send:not([disabled]):hover:before {
    -webkit-transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    -o-transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    width: 12px;
    background-color: var(--template-color-2)
}

.button-send:not([disabled]):hover:after {
    -webkit-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    width: 24px;
    background-color: var(--template-color-2)
}

.button-send:not([disabled]):active {
    background-color: var(--color-primary-light);
}

.button-send i {
    margin-right: 10px;
    vertical-align: -5px !important;
    font-size: 20px !important;
    margin-bottom: -7px;
    margin-top: -7px;
}






.button-primary:hover{
    background-color: var(--color-primary);
    top: -2px;
    box-shadow: 4px 4px 4px #e6e6e6;
}
.button-primary{
    padding: 7px;
    max-width: 140px;
    width: 100%;
    background: var(--color-primary-light);
    /* color: #fff; */
    box-shadow: 2px 4px 4px #8484848f;
}
.button-secondary.active{
    background-color: var(--color-primary);
    /* color: white; */
}
.button-secondary.active{
    background-color: #40b3c2;
}
.button-secondary.active svg{
    filter: brightness(100000) 
}
.button-secondary.active:hover svg{
    filter: inherit !important
}
.button-secondary:hover{
    background-color:  var(--color-terciary);
    top: -2px;
    box-shadow: 4px 4px 4px #e6e6e6;
    color: var(--color-primary);
}
.button-secondary{
    padding: 7px;
    max-width: 140px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 4px 4px #e6e6e6;
    font: 14px var(--font-oxygen);
    color: var(--color-primary-light)

}


.button-small{
    width: 50px;
    height: 50px;
}



.button-primary:disabled{
    background: #eee;
}

.button-space{
    margin-bottom: 20px;
}

.button-pdf:hover{
    background: #d8eef1;
}
.button-pdf{
    background-color: #fbfbfb;
    position: relative;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 4px #c1baba;
    max-width: 300px;
}
.icon-pdf{
    position: absolute;
    top: 0;
}

.button-pdf-content{
    text-align: left;
    padding-left: 15px;
    letter-spacing: 0px;
}

.button-pdf-content>p:first-child{
    font-size:13px;
    color: #3c3c3c;
    word-break: break-all;
}
.button-pdf-content>p:last-child{
    font-size: 10px;
    color: #808080;
}