
[class*="color-"]{
    transition: all .3s ease;
}

[color-default = white]{ 
    color : #fff 
}

[color-hover = primary]:hover svg,
[color-hover = primary]:hover,
[color-default = primary],
.color-primary{
    color: var(--color-primary);
}

.active [color-hover = primary-light],
[color-hover = primary-light]:hover,
[color-default = primary-light],
.color-primary-light{ 
    color: var(--color-primary-light); 
}

[color-default = secondary],
[color-hover = secondary]:hover,
.color-secondary{ 
    color: var(--color-secondary); 
}

.active [color-hover = secondary-black],
[color-default = secondary-black],
[color-hover = secondary-black]:hover{
    color: var(--color-secondary-black)
}

[color-default = terciary],
[color-hover = terciary]:hover,
.color-terciary{ 
    color: var(--color-terciary); 
}

[color-hover = tag-otros]:hover,
.color-tag-otros{ 
    color: var(--color-tag-otros); 
}

[color-hover = tag-permiso]:hover,
.color-tag-permiso{ 
    color: var(--color-tag-permiso); 
}

[color-hover = tag-autorizacion]:hover,
.color-tag-autorizacion{ 
    color: var(--color-tag-autorizacion); 
}

.color-humo { color: var(--color-humo); }
.color-grey { color: var(--color-grey); }
.color-grey-light { color: var(--color-grey-light); }
.color-grey-medium { color: var(--color-grey-medium); }
.color-grey-black { color: var(--color-grey-black); }
.color-error { color: var(--color-error); }
.color-success { color: var(--color-success); }
.color-white { color: #ffffff !important; }


[color-tag = permiso] { color: var(--color-tag-permiso); }
[color-tag = autorizacion] { color: var(--color-tag-autorizacion); }
[color-tag = otros] { color: var(--color-tag-otros); }
[color-tag = folder] { color: var(--color-grey-medium); }

[color-tag = folder-1] { color: var(--color-folder-1); }
[color-tag = folder-2] { color: var(--color-folder-2); }
[color-tag = folder-3] { color: var(--color-folder-3); }
[color-tag = folder-4] { color: var(--color-folder-4); }


