



.font-primary,.font-oxygen{ font-family: var(--font-oxygen); }
.font-secondary,.font-fredoka{ font-family: var(--font-fredoka); }


.font-size-xxs{ font-size: var(--font-size-xxs); }
.font-size-xs{ font-size: var(--font-size-xs); }
.font-size-md{ font-size: var(--font-size-md); }
.font-size-lg{ font-size: var(--font-size-lg); }
.font-size-xl{ font-size: var(--font-size-xl); }
.font-size-xxl{ font-size: var(--font-size-xxl); }
