.steps{
	display: flex;
}
.steps-circle{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}
.steps-circle-icon{
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	background: white;
	box-shadow: 0 2px #000 ;
	border-radius: 50%
}