
.icon{
    position: relative;
    display: inline-block;
}
.icon-pdf{
    background-image: url(../../../img/icons/pdf.png);
    width: 52px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-expand-more{
    
}