body {
    font-size: 1.2rem;
    color: #555555;
}

.card {
    background-color: #fff;
    border-radius: 0.75rem;
    width: 85%;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
  
  @media only screen and (max-width: 767px) {
    .card {
      width: 90%;
    }
  }
  
  .card .card-body {
    padding: 20px;
    text-align: left;
  }
  
  @media only screen and (max-width: 767px) {
    .card .card-body {
      margin-right: 0;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .card .card-body {
      margin-right: 0;
    }
  }
  
  .card .card-body form input:read-only {
    border: none;
  }

.alert {
    background-color: #FFFBDF;
    width: 95%;
    font-size: 1rem;
    border-radius: .75rem;
    margin: 0 auto;
    padding: 10px;
}

.alert span {
    margin-left: 5px;
}

.alert img {
    vertical-align: middle;
    margin-left: 20px;
    width: 16px;
}

.d-Alert {
    margin-bottom: 5px;
}