#mainRegister,
#mainLogin{   
    transition: all .3s ease;
}

#mainRegister{
    display: none    
}
.is--register #mainRegister{
    transform: scale(1);
    opacity: 1;
}
.is--register #mainLogin{
    transform: scale(0);
    opacity: 0;
    
}
.login-volver:hover{
    color: var(--secondary)
}
.login-volver{
    cursor: pointer;    
    position: absolute;
    top: -20px;
    left: 110px;
    display: inline-flex;
    align-items: center;
    color: var(--terciary);
    font: 15px var(--lucida);
}

.login-links{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px auto 30px auto;
}
.login-links-a:hover{
    color: var(--primary-black);
    border-bottom: 1px solid var(--primary-black);
}
.login-links-a.active{
    color: var(--primary);
    border-bottom: 1px solid var(--primary-black);
}
.login-links-a{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    padding: 5px 5px;
    margin: 0 5px;
    color: var(--secondary);
    font: 14px var(--lucida);
}


.login-svg{
    position: absolute;
    top: -58px;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 48%;
}

.layout{
    width: 100%;
    max-width: var(--layout-maximo);
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 3;
}

.mobile .layout{
    padding: 0 15px;
}
.required,
.important{
    color: var(--error);
    font: 12px var(--arial);
    padding-left: 2px;
    padding-right: 3px;
    position: relative;
    top: -3px;
}
.login-main{
    width:100%;
    display: flex;
    min-height: 100vh;
    height: 100%;
    background-color: #fff8f3;
    position: relative;
    overflow: hidden !important;
}   
.login-logo{
    max-width: 340px;
    position: relative;
    box-shadow: 0 2px 8px #0003;
}
.login-font-h1{
    font-size: 17px;
    padding-top: 85px;
    margin-left: 20px;
}
.login-font-h2{
    font-size: 18px;
}


.login-body{
    display: block;
    width: 100%;
}
.login-illustration{
    display: block;
}

.login-font-h1 .letter {
    display: inline-block;
    line-height: 1em;
}

.login-header{
    width: 100%;
    height: auto;
    max-height: 90px;
    position: absolute;
    top: 30PX;
    left: 0;
    right: 0;
    margin: auto;
}

.login-menu{
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 5;
}
.login-menu-li:hover{
    color: var(--secondary)
}
.login-menu-li{
    padding-left: 20px;
    font: 16px var(--swiss);
    color: var(--terciary);
    cursor: pointer;
    transition: all .3s ease
}
.navegadores{
    position: absolute;
    right: 10px;
    bottom: 30px;
    z-index: 1;
}
.mobile .navegadores{
    display: none
}
.navegadores-logos{
    max-width: 140px;
}
.navegadores-texto{
    font: 12px var(--lucida);
    color: #fff;
    max-width: 135px;
    text-align: right;
    margin-bottom: 5px;
}
.login-recuperar{
    text-align: center;
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 0px -1px 0 #e0e0e0;
    display: flex;
    justify-content: space-between;
}
.login-recuperar-txt:hover{
    color: var(--primary);
}
.login-recuperar-txt{
    display: inline-block;
    color: var(--grey);
    font: 13px var(--lucida);
    transition: all .3s ease;
}

.login-formulario{
    
background: #ffffff;
    
border-radius: 20px;
    
box-shadow: 0 0 20px #3142542b;
    
width: 100%;
    
max-width: 490px;
    
padding-bottom: 20px;
    
padding: 20px 30px;
}
.button-primary--is-login{
    padding: 12px;
    min-width: 180px;
}

.form-input--is-login{
    padding: 15px !important;
    padding-left: 50px !important;
    border: 1px solid var(--primary-light);
    color: var(--secondary-light);
    transition: all .3s ease;
}
.form-input--is-login:focus{
    border-color: var(--secondary-light);
}
.form-input-login{
    padding-left: 0 !important;
}

.login-font-h1{
    font-size: 27px;
}
.login-font-h2{
    font-size: 22px;
}

.login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 30px;
    z-index: 2;
}
.login-illustration{
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    COLOR: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}
.login-detail{
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 55vh;
    min-height: 100vh;
    z-index: 0;
    transform: rotate(180deg);
}
.login-base{
  background-repeat: no-repeat;
  background-position: center;
  background-size: COVER;
  position: absolute;
  bottom: 0;
  right: -70PX;
  height: 386px;
  width: 600PX;
  z-index: 0;
}
.login-informa{
    max-width: 290px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    padding-top: 0;
}

.login-informa-logo{
    width: 100%;
    max-width: 250px;
}

.mobile .login-informa-logo{
    max-width: 180px;
}

.register-options{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center
}
.register-options-box{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.register-content{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    background-image: linear-gradient(transparent 0px, transparent 1.25208px, #effeff 1.25208px, #effeff 12.5208px), linear-gradient(to right, #e1e1e1 0px, #e1e1e1 1.25208px, #effeff 1.25208px, #effeff 12.5208px);
    background-position: 104.413px 20.4375px;
    background-size: 12.5208px 12.5208px;
    background-color: #fff;
}
.register-options-title:before {
    content: '';
    width: 9px;
    height: 10px;
    background: var(--secondary);
    position: absolute;
    left: 0;
    top: 9px;
}
.register-options-title:after {
    content: '';
    width: 9px;
    height: 15px;
    background: var(--terciary);
    position: absolute;
    left: 11px;
    top: 4px;
}
.register-options-title{
    position: relative;
    font: 20px var(--arial);
    text-transform: uppercase;
    color: var(--terciary);
    letter-spacing: 2px;
    padding-left: 40px;
    display: inline-block;
    margin-bottom: 15px;
}
.register-options-subtitle{
    font: 15px var(--lucida);
    color: var(--terciary);
    margin-bottom: 15px;
}
.register-options-img{
    width: 100%;
    max-width: 135px;
    margin: 13px auto;
    height: 150px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    /* padding: 20px; */
    padding-bottom: 0;
    /* border-bottom: 1px solid grey; */
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .login-formulario{
        padding: 0;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .login-illustration{
        display: none
    }
    .login-body{
        width: 100%;
        padding-right: 0;
    }
    .login-informa{
        max-width: 370px;
        text-align: center;
        margin: 0 auto;
    }
    .login-formulario{
        max-width: 100%;
    }
    .login-detail{
        background-size: contain;
         min-height: 60vh;
    }
    
}

@media screen and (max-width: 680px) {
    
    .register-options{
        flex-direction: column;
        display: block;
        padding-top: 120px;
    }  
    .register-options-box{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-height: 580px) {
    .login-header{
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        text-align: center;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 0;
    }
    .login-main{
        display: block;
        padding: 10px;
    }
    #mainRegister, #mainLogin{
        padding: 10px
    }

    .navegadores{
        position: relative;
        float: right;
        margin-top: 10px;
    }
   
}
@media screen and (max-width: 450px) {
    .login-main{
        display: block;
        padding: 10px;
    }
    #mainRegister, #mainLogin{
        padding: 10px
    }
    .login-header{
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        text-align: center;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 0;
    }
    .login-formulario{
        padding: 10px;
        margin-top: 0 !important;
    }
    #mainRegister, #mainLogin{
        padding: 0px;
        margin: 20px auto;
    }
    .login-body{
        padding: 0;
    }
    .navegadores{
        position: relative;
        float: right;
        margin-top: 10px;
    }
}


@media screen and (max-width: 380px) {
    #mainRegister, #mainLogin{
        padding: 10px
    }

}