

maildetailbox-card,
maildetailbox-card-bottom,
maildetailbox-card-top{
    display: block;
    position: relative;
}
maildetailbox-card{
    padding-left: 50px !important;
    
}



maildetailbox-card{
    display: block;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    height: 100%;
}

maildetailbox-title{
    display: block;
    font: var(--font-size-xxl) var(--font-primary);
    color: var(--color-grey-black);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

maildetailbox-subtitle{
    display: block;
    font: var(--font-size-md) var(--font-primary);
    color: var(--color-grey-medium);
    text-transform: uppercase;
    margin-bottom: 2px;
}
maildetailbox-link{
    display: block;
    font: 20px var(--font-primary);
    color: var(--color-grey-medium);
    text-transform: uppercase;
}


maildetailbox-card-content{
    display: block;
    display: block;
    margin-top: 40px;
}

maildetailbox-tag{
    position: absolute;
    top: 0;
    left: -35px;
}




maildetailbox-card-content p:first-child{
    display: block;
    margin-bottom: 25px;
    position: relative;
    padding-left: 40px;
}

maildetailbox-card-content{
    display: block;
    position: relative;
}
maildetailbox-card-content p:not(:first-child){
    display: block;
    margin-bottom: 10px;
}



maildetailbox-download{
    display: block;
    margin: 40px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}






@media only screen and (max-width: 1300px) {
    maildetailbox-download{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    maildetailbox-download .button-pdf{
        margin-top: 20px;
    }
}
